* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #292929d0;
}

.container {
  width: 1180px;
  margin: auto;
}

.section {
  padding-top: 10px;
  padding-bottom: 20px;
}

.section-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 48px;
  line-height: 45px;
  text-align: center;
}

.section-title {
  overflow: hidden;
}

.section-title:before,
.section-title:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 2px;
  background: #38383848;
  border: solid #FFF;
  border-width: 0 10px;
}

.section-title:before {
  margin-left: -100%;
}

.section-title:after {
  margin-right: -100%;
}

.button {
  width: 270px;
  height: 60px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 73px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff960c), color-stop(46%, #db6d1c), color-stop(77%, #d0671b), to(#b45713));
  background-image: linear-gradient(to bottom, #ff960c 0%, #db6d1c 46%, #d0671b 77%, #b45713 100%);
  border: none;
  padding: 16px 27px;
  font-size: 24px;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdc173), color-stop(46%, #ec9e43), color-stop(77%, #db7f3b), to(#ce712c));
  background-image: linear-gradient(to bottom, #fdc173 0%, #ec9e43 46%, #db7f3b 77%, #ce712c 100%);
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .section-title {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-title:before {
    display: none;
  }
  .section-title:after {
    display: none;
  }
}

@media (max-width: 321px) {
  .container {
    max-width: 319px;
    width: 90%;
  }
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.navbar-logo {
  width: 152px;
  height: 100px;
}

.navbar-logo__img {
  height: 100%;
}

.navbar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-info__text {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 18px;
  line-height: 25px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map p {
  width: 250px;
  margin-left: 20px;
}

.tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tel__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.tel__links {
  padding: 4px 0px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
}

@media (max-width: 1200px) {
  .navbar-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 240px;
  }
  .navbar-info__text {
    margin: 2px;
    font-size: 14px;
    line-height: 20px;
  }
  .map {
    padding-bottom: 5px;
  }
  .map p {
    margin-left: 30px;
  }
  .tel__links {
    padding: 2px 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #333333e0;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navbar-info {
    display: none;
  }
}

@media (max-width: 500px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 222px;
  }
}

body {
  background-image: url(../img/bcg/bc.png);
}

.hero {
  background-image: url(../img/bcg/bcg-header-3.jpg);
  max-width: 1920px;
  min-height: 800px;
  margin: auto;
}

.offer {
  background-image: url(../img/bcg/bcg-orange.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-repeat-x: repeat;
  max-width: 1920px;
  margin: auto;
}

.steps {
  background: url(../img/steps/bcg-steps.jpg) left no-repeat;
  min-height: 884px;
  margin: auto;
}

@media (max-width: 1401px) {
  min-width: 100%;
}

.customers-wrap {
  background-image: url(../img/bcg/bcg-customers.jpg);
  background-repeat-y: no-repeat;
  background-position: center center;
  background-repeat-x: repeat;
}

.hero {
  background-image: url(../img/version2/11.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-attachment: fixed;
  max-width: 1920px;
  min-height: 800px;
  margin: auto;
}

.hero-title {
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.94);
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  line-height: 37px;
  padding: 20px;
  margin: 0;
  letter-spacing: 2px;
}

.hero-slider {
  margin: auto;
  max-width: 1140px;
}

.hero-slider__img {
  width: 100%;
}

@media (max-width: 1200px) {
  .hero {
    min-height: 600px;
  }
  .hero-title {
    max-width: 800px;
    margin: auto;
  }
  .hero-slider {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 550px;
  }
  .hero-title {
    max-width: 680px;
  }
}

@media (max-width: 600px) {
  .hero {
    min-height: 500px;
  }
}

@media (max-width: 500px) {
  .hero {
    background-image: url(../img/bcg/bcg-header-mini.jpg);
    min-height: 450px;
  }
  .hero-title {
    max-width: 400px;
    line-height: 32px;
  }
}

@media (max-width: 320px) {
  .hero {
    min-height: 475px;
    background-image: url(../img/bcg/bcg-header-mini-320.jpg);
  }
  .hero-title {
    max-width: 300px;
    line-height: 37px;
    letter-spacing: 0px;
  }
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1180px;
  padding: 50px 0 0 0;
}

.events-title {
  width: 100%;
  text-align: center;
}

.events-block {
  width: 300px;
  margin: 35px;
  text-align: center;
}

.events-block__images {
  width: 100%;
}

.menu {
  padding: 80px 0px;
}

.menu-button {
  display: block;
  margin: auto;
}

.menu-subtitle {
  text-align: center;
  font-size: 36px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #292929d0;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .menu-subtitle {
    font-size: 48px;
  }
}

.offer::before {
  content: url(../img/offer/offer-girl.png);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: -15px;
  max-width: 404px;
  max-height: 436px;
}

.offer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-sale {
  z-index: 1;
}

.offer-sale__title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 36px;
  margin: 15px 0;
}

.offer-sale__subtitle {
  font-size: 36px;
}

.offer-sale__text {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 72px;
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 0px;
}

.offer-sale__description {
  font-size: 36px;
  letter-spacing: -1.8px;
  color: #ffffff;
  margin: 15px 0;
}

.offer-sale__counter {
  padding-top: 120px;
  width: 380px;
  height: 100px;
}

.offer-sale__counter__min {
  display: none;
}

.offer-girl {
  z-index: 0;
  position: absolute;
  left: 50%;
  margin-left: -10%;
  margin-top: -30px;
  max-width: 420px;
}

.offer-girl__image {
  width: 100%;
}

.offer-form {
  z-index: 1;
  text-align: right;
}

.offer-form__title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 36px;
  text-align: right;
  margin: 15px 0;
}

.offer-form__subtitle {
  font-size: 36px;
  text-align: right;
}

.offer-form__contact {
  padding-top: 50px;
}

.offer__input {
  width: 270px;
  height: 60px;
  border-radius: 73px;
  background-color: #ffffff;
  outline: none;
  border: none;
  outline: none;
  text-align: center;
  font-size: 18px;
  color: #000;
}

.offer-button {
  padding-top: 100px;
  text-align: right;
}

.offer-girl__mini {
  display: none;
}

@media (max-width: 1200px) {
  .offer::before {
    display: none;
  }
  .offer-sale {
    margin-top: -25px;
  }
  .offer-sale__title {
    margin: 15px 0;
    padding-bottom: 25px;
  }
  .offer-sale__description {
    margin: 15px 0;
  }
  .offer-form {
    margin-top: -25px;
  }
  .offer-form__title {
    margin: 15px 0;
    padding-bottom: 25px;
  }
  .offer-form__contact {
    padding-top: 50px;
  }
  .offer-form__button {
    margin-top: 50px;
  }
}

@media (max-width: 900px) {
  .offer {
    background-position-y: 840px;
  }
  .offer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-sale {
    text-align: center;
  }
  .offer-sale__title {
    padding-bottom: 5px;
  }
  .offer-sale__text, .offer-sale__description {
    color: #292929e3;
    margin-top: 10px;
  }
  .offer-sale__counter {
    padding-top: 20px;
    width: 400px;
    margin: auto;
  }
  .offer-form {
    margin-top: 25px;
    text-align: center;
  }
  .offer-form__title {
    text-align: center;
  }
  .offer-button {
    text-align: center;
  }
  .offer-girl__mini {
    display: block;
    max-width: 300px;
    max-height: 472px;
    margin: auto;
    padding-top: 20px;
  }
  .offer-girl__imgs {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .offer {
    background-position-y: 885px;
  }
}

@media (max-width: 450px) {
  .offer {
    background-position-y: 870px;
  }
  .offer-sale__counter {
    display: none;
  }
  .offer-sale__counter__min {
    display: block;
    margin-top: 40px;
  }
  .menu-subtitle {
    font-size: 38px;
  }
}

@media (max-width: 410px) {
  .offer {
    background-position-y: 910px;
  }
}

@media (max-width: 370px) {
  .offer {
    background-position-y: 950px;
  }
}

@media (max-width: 320px) {
  .offer {
    background-position-y: 930px;
  }
  .offer-sale__text {
    font-size: 66px;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-block {
  max-width: 390px;
  height: 220px;
  margin: 0;
}

.about-block__img {
  width: 100%;
}

.about-wrap {
  padding-top: 50px;
  padding-bottom: 150px;
}

.about-card {
  width: 214px;
  height: 243px;
  text-align: center;
  -webkit-box-shadow: 4px 6px 10px rgba(193, 228, 249, 0.58);
          box-shadow: 4px 6px 10px rgba(193, 228, 249, 0.58);
  border-radius: 20px;
  border: 1px solid #a5a19b2f;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 40px;
  margin: 22px 10px;
  outline: none;
}

.about-card:hover {
  -webkit-box-shadow: 0 10px 38px rgba(62, 126, 241, 0.14);
          box-shadow: 0 10px 38px rgba(62, 126, 241, 0.14);
  border: 1px solid rgba(0, 0, 0, 0.02);
}

.about-card::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3e7ef1;
  opacity: 0;
  z-index: 100;
}

.about-card::after {
  content: '\003E';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  color: #ffffff;
  opacity: 0;
  z-index: 100;
}

.about-card:hover:before, .about-card:hover:after {
  opacity: 1;
}

.about-card__icon {
  max-width: 100px;
  max-height: 80px;
  margin: auto;
}

.about-card__text {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 18px;
  margin-top: 50px;
}

@media (max-width: 320px) {
  .about-wrap {
    padding-top: 1px;
    padding-bottom: 5px;
  }
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.steps-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 860px;
  left: 345px;
  margin-top: 130px;
}

.step-text_desc {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 24px;
  line-height: 26px;
  width: 350px;
  margin: 13px 0;
}

.step-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 30px;
  line-height: 21px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.steps__title {
  margin-top: -50px;
  padding-bottom: 50px;
}

.step__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.step__row:nth-child(1) .step-text {
  margin-right: 58px;
}

.step__row:nth-child(2) .step-text {
  margin-right: 37px;
}

.step__row:nth-child(3) .step-text {
  margin-right: 56px;
}

.step__row:nth-child(4) .step-text {
  margin-right: 53px;
}

.step__row:nth-child(5) .step-text {
  margin-right: 73px;
}

.step__row:nth-child(5) .img_wrap::before {
  display: none;
}

.img_wrap {
  width: 60px;
  height: 60px;
  margin-right: 45px;
  position: relative;
}

.img_wrap img {
  width: 100%;
  height: 100%;
}

.img_wrap:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 43px;
  background: url(../img/steps/arrow.svg) center no-repeat;
  background-size: cover;
  bottom: -39px;
  left: -27px;
  z-index: 100;
}

@media (max-width: 1200px) {
  .steps {
    display: none;
  }
  .steps__title {
    display: none;
  }
}

.customers {
  padding-top: 100px;
}

.customers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers-block {
  height: 60px;
  overflow: hidden;
  outline: none;
  margin: 0 15px;
}

.customers-block__brand {
  height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1200px) {
  .customers {
    padding-top: 0;
  }
}

.restaurant-block {
  padding: 5px 0;
  outline: none;
}

.restaurant-title {
  padding-bottom: 40px;
}

.restaurant-slider_down .slick-dots li {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #44444475;
}

.restaurant-slider_down .slick-dots li button {
  opacity: 0;
}

.restaurant-slider_down .slick-dots li.slick-active {
  width: 15px;
  height: 15px;
  background-color: #5b5b5b;
  border-radius: 50%;
  border: 1px solid #5b5b5b;
}

.discount-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  padding-top: 50px;
}

.discount-block__left {
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}

.discount-brand__text {
  font-size: 24px;
  margin: 15px 0;
}

.discount-brand__offer {
  font-size: 48px;
  color: #ff0000;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.discount-brand__clik {
  padding: 30px 0;
}

.discount-brand__counter__min {
  display: none;
}

@media (max-width: 1200px) {
  .discount-block__right {
    max-width: 600px;
  }
  .discount-block__img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .discount-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .discount-block__right {
    padding-bottom: 30px;
  }
}

@media (max-width: 450px) {
  .discount-brand__wrapper {
    width: 240px;
    margin: auto;
  }
  .discount-brand__logo {
    width: 100%;
    height: 100%;
  }
  .discount-brand__counter {
    display: none;
  }
  .discount-brand__counter__min {
    display: block;
    margin-top: 40px;
  }
  .discount-brand__offer {
    font-size: 36px;
  }
  .discount-drand__logo {
    width: 100%;
    height: 100%;
  }
  .discount-button {
    margin-top: 10px;
  }
}

.hotel-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

.hotel-box {
  width: 164px;
  height: 220px;
  text-align: center;
  padding: 10px;
}

.hotel-box__icon {
  max-width: 80px;
  max-height: 80px;
}

.hotel-box__text {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 18px;
  text-align: center;
}

.addres-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.addres-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addres-contact__icon {
  max-width: 40px;
  max-height: 40px;
}

.addres-contact__text {
  padding: 10px 40px;
  font-size: 24px;
}

.addres-contact__tel {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
}

iframe {
  width: 100% !important;
  height: 100% !important;
}

.addres-block__map {
  width: 600px;
  height: 450px;
}

@media (max-width: 1200px) {
  .addres-block__map {
    max-width: 450px;
    max-height: 350px;
  }
}

@media (max-width: 768px) {
  .addres-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    padding-top: 5px;
  }
  .addres-block__map {
    max-width: 500px;
    max-height: 200px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .addres-block__left {
    padding-top: 20px;
  }
}

@media (max-width: 558px) {
  .addres-block__map {
    max-width: 400px;
  }
}

@media (max-width: 450px) {
  .addres-block__map {
    max-width: 300px;
  }
  .addres-contact__img {
    max-width: 380px;
  }
  .addres-contact__bear {
    width: 100%;
  }
  .addres-contact__text {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media (max-width: 380px) {
  .addres-block__map {
    max-width: 280px;
  }
}

.footer {
  height: 200px;
  background-color: #363332;
  margin-top: -5px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.footer-brand__text {
  color: #ffffff;
  font-size: 18px;
}

.footer-brand__icon {
  padding: 0 10px;
  max-width: 71px;
  max-height: 50px;
}

@media (max-width: 768px) {
  .footer {
    height: 100%;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-brand {
    padding-bottom: 20px;
  }
  .footer-brand__text {
    padding: 0 20px;
    text-align: center;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

.modal-column {
  text-align: center;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 570px;
  max-height: 674px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 80px 100px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal-dialog__close:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-center {
  text-align: center;
  font-size: 18px;
  line-height: 35px;
}

.modal-content {
  display: none;
}

.modal .offer__title {
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.modal .offer-subtitle {
  font-size: 18px;
  line-height: 15px;
  width: 90%;
}

.modal .offer-subtitle__low {
  text-align: center;
  display: block;
  font-weight: 400;
  line-height: 20px;
  padding-top: 30px;
}

.modal .offer-subtitle__tel {
  text-align: center;
  display: block;
  padding-top: 30px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #333333e0;
  font-size: 24px;
}

.input-modal {
  background-color: #dfefff5e;
  margin: 12px;
}

.offer__button {
  margin: 12px;
}

@media (max-width: 768px) {
  .modal-dialog {
    padding: 10px 20px;
  }
  .modal-center {
    line-height: 15px;
  }
  .offer__title {
    padding-top: 20px;
  }
  .offer-subtitle__tel {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .offer__button {
    width: 100%;
  }
}

.modalmini {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

.modalmini_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalmini-dialog {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 300px;
  max-width: 570px;
  max-height: 674px;
  width: 90%;
  min-width: 200px;
  background-color: #fff;
  padding: 80px 100px;
}

.modalmini-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modalmini-center {
  text-align: center;
  font-size: 16px;
  line-height: 35px;
}

.modalmini-content {
  display: none;
}

.modalmini .offer__title {
  text-align: center;
  font-size: 24px;
}

.modalmini .offer-subtitle__low {
  text-align: center;
  display: block;
  font-weight: 400;
  line-height: 20px;
  padding-top: 30px;
}

.modalmini .offer-subtitle__tel {
  text-align: center;
  display: block;
  padding-top: 30px;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.class_close {
  display: none;
}

@media (max-width: 768px) {
  .modal-dialog {
    padding: 10px 20px;
  }
  .offer__title {
    padding-top: 20px;
  }
  .offer-subtitle__tel {
    padding-bottom: 20px;
  }
}

@media (max-width: 320px) {
  .modal-dialog {
    padding: 5px 10px;
  }
  .offer__title {
    padding: 10px 0;
    margin: 0px;
    line-height: 22px;
  }
  .offer-subtitle {
    font-size: 16px;
  }
  .offer-subtitle__tel {
    padding-bottom: 20px;
  }
  .offer__button {
    width: 215px;
    margin: 5px;
    font-size: 16px;
  }
  .offer__input {
    width: auto;
  }
  .modal .offer-subtitle__low {
    padding-top: 5px;
  }
  .modal .offer-subtitle__tel {
    padding-top: 7px;
    font-size: 18px;
  }
  .modalmini-dialog {
    margin-top: 30px;
    padding: 20px 30px;
  }
}
/*# sourceMappingURL=style.css.map */